/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  height: 293px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0%;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-left: 50px;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
  text-underline-offset: 4.5px;
  text-decoration-thickness: 1px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
}

.address_header__address {
  max-width: 240px;
  margin-right: 50px;
  justify-self: end;
}

.address_link {
  text-underline-offset: 4.5px;
  text-decoration-thickness: 1px;
}

.cover {
  display: grid;
  min-height: 757px;
  margin-bottom: 180px;
  position: relative;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;

}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  z-index: 1;
  text-transform: uppercase;
}

.aligned-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 165px 50px 106px;
  min-height: 385px;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.99999999999999%;
  color: #FFFFFF;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_left {
  display: block;
  text-align: left;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.cover__description {
  margin: 0 50px 50px;
  width: 1000px;
  height: 51px;
  display: flex;
  justify-content: space-between;
}

.cover__description-text {
  display: inline-block;
  width: 637px;
  height: 28px;
  word-spacing: 18.53px;
  align-self: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 1;
}

.bet-button {
  width: 256px;
  height: 100%;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-color: #FFFFFF;
  border-width: 1px;
  border-style: solid; 
  z-index: 1;
}

.lots {
  display: flex;
  width: 1052px;
  height: 723px;
  margin: 180px 40px 120px;
}

.lots_title {

}

.lots_list {

}

.lot {

}

.lot_link {

}

.lot_about {

}

.lots_link {

}

.about {
  display: grid;
  width: 1052px;
  height: 595px;
  margin: 120px 24px 180px;
}

.about_logo {

}

.about_logo-background {

}

.about_logo-image {

}

.about_description {

}

.about_title {

}

.about_text {

}

.footer_content {
  display: grid;
  width: 100%;
  height: 180px;
  padding: 0 50px auto;
  margin-top: 180px;
}

.footer_menu {

}

.footer_menu_list {

}

.footer_menu_item {

}

.networks {

}

.networks_list {

}

.networks_item {

}

.networks_item-link {

}

.networks_item-image {

}